<footer style="background-color: rgb(5, 66, 5); color: #fff; padding: 20px 0;">
    <div style="max-width: 1200px; margin: auto; display: flex; flex-wrap: wrap; gap: 20px; justify-content: space-between;">
      <!-- Logo Section -->
      <div style="flex: 1 1 100%; text-align: center;">
        <h2 style="font-size: 24px; font-weight: bold; margin-bottom: 10px;"><i class="fab fa-canadian-maple-leaf fa-lg ">Naturehub</i></h2>
        <p>© NatureHub.in | All rights reserved</p>
      </div>
  
      <!-- Information Section -->
      <div style="flex: 1 1 20%; min-width: 200px;">
        <h3 style="font-size: 18px; margin-bottom: 10px;">Information</h3>
        <ul style="list-style: none; padding: 0;">
          <li><a routerLink="/" style="color: #fff; text-decoration: none;">Home</a></li>
          <li><a routerLink="aboutus" style="color: #fff; text-decoration: none;">About Us</a></li>
          <li><a routerLink="remedies" style="color: #fff; text-decoration: none;">Our Remedies</a></li>
          <li><a routerLink="healthtips" style="color: #fff; text-decoration: none;">Health Tips</a></li>
          <li><a routerLink="skincare" style="color: #fff; text-decoration: none;">Skincare</a></li>
          
        </ul>
      </div>
  
      <!-- Support Section -->
      <div style="flex: 1 1 20%; min-width: 200px;">
        <h3 style="font-size: 18px; margin-bottom: 10px;">Support</h3>
        <ul style="list-style: none; padding: 0;">
          <li><a routerLink="contactus" style="color: #fff; text-decoration: none;">Contact Us</a></li>
          <li><a routerLink="privacy" style="color: #fff; text-decoration: none;">Privacy Policy</a></li>
          <li><a routerLink="" style="color: #fff; text-decoration: none;">Cancellation & Refund Policy</a></li>
        </ul>
      </div>
  
      <!-- Connect With Us Section -->
      <div style="flex: 1 1 20%; min-width: 200px;">
        <h3 style="font-size: 18px; margin-bottom: 10px;">Connect with us</h3>
        <p>Hyderabad, India</p>
        <p>+91 9999 55555</p>
        <div style="display: flex; gap: 10px; margin-top: 10px;">
          <a routerLink=""><i class="fa fa-envelope fa-lg" style="width: 20px;"></i></a>
          <a routerLink=""><i class="bi bi-instagram fa-lg" style="width: 20px;"></i></a>
          <a routerLink=""><i class="bi bi-facebook fa-lg" style="width: 20px;"></i></a>
          <a routerLink=""><i class="bi bi-linkedin fa-lg" style="width: 20px;"></i></a>
          <a routerLink=""><i class="bi bi-twitter-x fa-lg" style="width: 20px;"></i></a>
        </div>
      </div>
    </div>
  </footer>
