<div class="profile-container">
  <div class="sidebar">
    <h2>Navigation</h2>
    <ul>
      <li><a routerLink="/order-history">Order History</a></li>
      <li><a routerLink="/cart">Cart</a></li>
      <li><a routerLink="/bookmarks">Bookmarks</a></li>
    </ul>
  </div>

  <div class="profile-details">
    <h2>Welcome, {{ user?.firstName }} {{ user?.lastName }}</h2>
    <div class="details">
      <p><strong>Email:</strong> {{ user?.email }}</p>
      <p><strong>Age:</strong> {{ user?.age }}</p>
      <p><strong>Contact:</strong> {{ user?.contact }}</p>
      <p><strong>Gender:</strong> {{ user?.gender }}</p>
    </div>
  </div>
</div>
