
<div class="container">
    <div class="title">
      <h1>About Us</h1>
    </div>
  
    <div class="content">
      <div class="article">
        <h2>Nature Hub</h2>
        <p>The Nature Hub Project is an innovative web application designed to provide
          information, products, and insights about natural remedies and holistic health
          practices. The main goal of this application is to bridge the gap between traditional
          healing practices and modern technology, offering users a seamless experience to
          explore, purchase, and personalize their natural health solutions. This project uses
          a robust technology stack, including SQL Server, Web API, C#, HTML5, CSS3, Bootstrap,
          and Angular, to offer an engaging and user-friendly platform for wellness enthusiasts.
        </p>
      </div>
  
      <div class="image-section">
        <img [src]="'assets/img1.jpg'" alt="Nature Hub Project Image">
      </div>
    </div>
  
    <div class="card-container">
      <div class="card" *ngFor="let card of cards">
        <img [src]="card.image" alt="{{ card.title }} Image">
        <div class="card-content">
          <h3>{{ card.title }}</h3>
          <p>{{ card.description }}</p>
        </div>
      </div>
    </div>
  </div>