<div class="container mt-4" style="padding-left: 10px; padding-right: 10px;">
  <!-- Cards Row -->
  <div class="row mb-4">
    <div class="col-md-4 mt-4 " *ngFor="let card of cards">
      <div class="card h-100 shadow-sm hover-card">
        <!-- Card Image -->
        <img [src]="card.image" class="card-img-top rounded-top" alt="{{ card.title }}">
        <div class="card-body d-flex flex-column">
          <!-- Card Title -->
          <h5 class="card-title text-center text-dark">{{ card.title }}</h5>
  
          <!-- Short Description -->
          <h6 class="card-text text-success-muted text-center">{{ card.shortDescription }}</h6>
          <p class="text-justify">{{ card.longDescription }}</p>
          <p><b class="text-danger">Benefits:</b> &nbsp; {{card.benefits}}</p>
          <p><b class="text-primary">PreperationMethod:</b> &nbsp; {{card.PreperationMethod}}</p>
          <p><b class="text-success">Usage:</b> &nbsp; {{card.UsageInstructions}}</p>
          <!-- Bookmark Button -->
          <button class="btn btn-outline-primary mt-auto bookmark-icon">
            <i class="bi bi-bookmarks" (click)="bookmarkCard(card)"></i> Bookmark
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Detailed Section -->
  